@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.meme-app {  
  border-radius: 7px;
  width: var(--app-width);
  background-color: white;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
}

.meme-main {
  padding: 36px;
}